p {
color: #4E09BD;
font-family: Arial;
font-size: 1.13em;

}

#button {
	border-radius: 5px;
	border: 2px solid #5E06C9;
	background-color: #F4F797;
	height: 77px;
	width: 240px;
	margin: auto;
	text-align: center;
	padding: 1em;
}
div {
	border-radius: 13px;
	background-color: #E9C5FA;
	margin: auto;
	text-align: left;
	font-size: 1.13em;
	padding: .35em;
}
.movies {
	background-color: #E9C5FA;
}

#hobbies {
	background-color: #CECDF7;
}
a {
	text-decoration: none;
	color: #CC0000;
	font-family: cursive, sans-serif;
}
#mom {
	font-family: Century, Cursive;
	font-size: 1em;
	color: #5E06C9;
	text-decoration: none;
}
span {
	font-family: Impact;
	/*font-weight: bold;*/
	font-size: 1.5em;
	color: #2B9106;
}
 
